@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-bg: #1A0B2E;
    --secondary-bg: #230E3D;
    --linear:linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
}

body{
    background-color: #1A0B2E;
    font-family: "Inter", sans-serif;
}

.navbar, .about, .features, .episodes, .host-section, .footer-container{
    width: 68%;
    margin: 0 auto;
    /* border: 2px solid tomato; */
}

.btn:hover{
    opacity: 0.8;
}

.flex{
    display: flex;
}

.btn-primary{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    background: var(--linear);
    color: #ffffff;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.btn-primary::before{
    content: '';
    position: absolute;
    inset: -2px;
    border-radius: 100px;
    background: linear-gradient(
      45deg,
      #9b0606, #944301, #afad1e, #40aa16,
      #07a188, #0620a0, #4c019b, #9e047d
    );
    background-size: 400%;
    filter: blur(6px);
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    animation: glowing 20s linear infinite;
}

.btn-primary:hover::before{
    opacity: 1;
}

@keyframes glowing{
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.navbar{
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

hr{
    border: none;
    border-top: 1px solid #3a1964;
}

.logo{
    font-size: 2.25rem;
    font-weight: 700;
    color: #ffffff;
}

.logo span{
    background: var(--linear);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.nav-menu{
    align-items: center;
}
.navbar li{
    list-style: none;
    margin-left: 32px;
}

.navbar li a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff;
}

.navbar li a:hover{
    color: rgba(251, 9, 178, 0.911);
    text-decoration: underline;
}

.hamburger{
    display: none;
}


.banner{
    /* border: 1px solid tomato; */
    width: 100%;
    height: 760px;
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container{
    max-width: 550px;
    text-align: center;
}
.banner-image{
    max-width: 350px;
    height: 350px;
    background-image: url(./assets/hero-circle.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-batch{
    position: relative;
}

.batch{
    position: absolute;
    top: -60px;
    left: 150px;
    font-size: 1.125rem;
    font-weight: 600;
    color: none;
    background-color: #00cf6f;
    padding: 8px 16px;
    border-radius: 20px;
    box-shadow: 0 0 10px #00cf6f;
}

.banner-content{
    margin-top: 40px;
}

.banner-title{
    font-size: 3.75rem;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 16px;
}
.banner-text{
    font-size: 1rem;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 24px;
    transform: translateY(-50%);
}

.write-animation{
    display: inline-block;      
    white-space: nowrap;
    overflow: hidden;
    animation:
      typing 7s steps(55, end) infinite,
      blink 0.7s step-end infinite;
}

@keyframes typing{
    0% { width: 0; }
    60% { width: 100%; }
    80% { width: 100%; }
    100% { width: 0; }
}
@keyframes blink{
    50% { border-color: transparent; }
}

.banner-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn-secondary{
    font-size: 1rem;
    font-weight: 600;
    padding: 12px 16px;
    background: none;
    color: #00FF88;
    border: 1px solid #00FF88;
    border-radius: 100px;
    cursor: pointer;
}

.hide{
    display: none;
}

.about{
    text-align: center;
    padding: 80px 0 120px;
}

.about-content{
    padding-bottom: 60px;
    border-bottom:  1px solid #230E3D;
}
.about-tittle{
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}
.about-text{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.712);
    margin-top: 16px;
}
.about-stats{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    margin-top: 60px;
}
.start-number{
    font-size: 2.5rem;
    font-weight: 900;
    color: #00FF88;
    margin-bottom: 16px;
}
.start-label{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25rem;
    color: rgba(255, 255, 255, 0.712);
}
/* feature-section */

.features-section{
    background-color: #230E3D;
    padding: 120px 0;
}

.features-tittle{
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
}

.card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(225px, auto);
    gap: 30px;
}
.card-item{
    padding: 40px;
    border: none;
    border-radius: 40px;
    background-color: rgba(53, 17, 101, 0.411);
}

.big-layout{
    grid-row: span 2;
}
.wide-layout{
    grid-column: span 2;
}
.card-item h3{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-top: 16px;
}

.card-item p{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.712);
    margin-top: 16px;
    display: block;
}


.episodes{
    padding: 120px 0;
}

.episodes-section{
    margin-bottom: 120px;
}
.section-title{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 40px;
    text-align: center;
}
.episodes-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 30px;
}
.episode-card{
    max-width: 380px;
    background-color: #230E3D;
    border-radius: 20px;
}
.episode-iframe{
    width: 100%;
    height: 214px;
    border-radius: 20px 20px 0 0;
}
.episode-content{
    padding: 24px;
}
.episode-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 12px;
}
.episode-desc{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    color: rgba(255, 255, 255, 0.712);
    margin-bottom: 12px;
}
.episode-meta{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #00FF88;
}

.host-section{
    padding: 0 0 120px;
}

.host-wrapper{
    background-color: #230E3D;
    padding: 40px;
    border: none;
    border-radius: 20px;
    align-items: center;
    gap: 24px;
}

.host-name{
    font-size: 2rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 16px;
}

.host-social{
    align-items: center;
    gap: 8px;
}

.social-icon{
    width: 40px;
    height: 40px;
    border: 1px solid #533C72;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon img{
    width: 20px;
    height: 20px;
}

/* footer-section */

.footer{
    width: 100%;
    background-image: url(./assets/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}
.footer-container{
    width: 68%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 80px;
}
.footer-logo{
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}
.footer-logo span{
    background: var(--linear);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.footer-platforms{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    gap: 20px;
    margin-bottom: 24px;
}
.platform-item{
    display: flex;
    align-items: center;
    gap: 8px;
}
.platform-item img{
    width: 24px;
    height: 24px;
}
.platform-item small{
    font-size: 0.875rem;
    font-weight: 400;
    color: #ffffff;
}
.footer-copy{
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.712);
    text-align: center;
}

@media screen and (max-width: 576px) {
    .nav-menu, .none{
        display: none;
    }

    .hamburger{
    display: initial;
}

    .navbar{
        width: 100%;
        padding: 16px 20px;
    }


.banner{
    width: 100%;
    height: 466px;
    background-size: 100%;
    /* border: 1px solid tomato; */
}

.banner-container{
    width: 100%;
    height: 386px;
    margin: 40px 20px;
}
.banner-image{
    width: 200px;
    height: 200px;
    margin-top: 50px;
}
.banner-image img{
    /* width: 80px; */
    height: 80px;
}

.banner-content{
    margin-top: 24px;
}

.banner-title{
    font-size: 2.5rem;
}
.banner-text{
    font-size: 0.875rem;
    margin-bottom: 24px;
}

.batch{
    top: -40px;
    left: 80px;
}

.about, .features {
    width: 100%;
    padding: 40px 20px;
}
 
 .about-tittle{
    font-size: 2rem;
 }
 .about-text br{
    display: none;
 }
    .about-content{
        padding-bottom: 40px;
    }
    .about-stats{
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
        margin-top: 40px;
    }
    .start-number{
        font-size: 2rem;
    }

/* feature-section */

.features-section{
    width: 100%;
    padding: 40px 0;
}

.features-tittle{
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
}
.card{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
    gap: 20px;
}

.big-layout{
    grid-row: span 1;
    min-height: 280px;
}

.wide-layout{
    grid-column: span 1;
}

.episodes{
    width: 100%;
    padding: 40px 20px;
}
.section-title{
    font-size: 2rem;
    margin-bottom: 24px;
    text-align: center;
}
.episodes-wrapper{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.episode-card{
    max-width: 100%;
}

.host-section{
    width: 100%;
    padding: 40px 20px;
}

.host-wrapper{
    flex-direction: column;
    text-align: center;
    gap: 16px;
}
.host-social{
    justify-content: center;
}

/* footer */

   .footer{
    width: 100%;
    min-height: 248px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-position: cover;
    background-size: 100%;
    text-align: center;
   }

    .footer-container{
    width: 100%;
    padding: 0 20px;
    margin-bottom: 80px;
    text-align: center;
    }

    .footer-logo{
        font-size: 2.5rem;
    }
    .footer-platforms{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    .footer-copy{
        font-size: 0.75rem;
        text-align: center;
    }

}